@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  outline: none;
  border: none;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: #ff9f1a;
}

section {
  padding: 2rem 9%;
}

.btn {
  display: inline-block;
  padding: .8rem 3rem;
  background-color: #fff;
  border: 0.2rem solid #2c2c54;
  font-size: 1.7rem;
  text-transform: capitalize;
  border-radius: .5rem;
  color: #2c2c54;
  margin-top: 1rem;
  cursor: pointer;
  font-weight: bolder;
}

.btn:hover {
  background: #ff9f1a;
  color: #fff;
}

.heading {
  font-size: 4rem;
  font-weight: bolder;
  color: #2c2c54;
  text-align: center;
  padding: 1rem;
  text-transform: uppercase;
}

.heading span {
  color: #ff9f1a;
}

.header {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  -webkit-box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  padding: 2rem 9%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header #menu-bar {
  font-size: 2.5rem;
  padding: .5rem 1rem;
  border: 0.2rem solid #2c2c54;
  color: #2c2c54;
  border-radius: .3rem;
  display: none;
}

.header .logo {
  font-size: 2.5rem;
  color: #2c2c54;
}

.header .navbar a {
  font-size: 1.7rem;
  color: #2c2c54;
  margin: 0 1rem;
  text-transform: capitalize;
}

.header .navbar a:hover {
  color: #ff9f1a;
  text-decoration: underline;
  text-underline-offset: #ff9f1a;
}

.header .icons i {
  margin-left: 1.5rem;
  font-size: 2.5rem;
  color: #2c2c54;
}

.header .icons i:hover {
  color: #ff9f1a;
  cursor: pointer;
}

.header .search-form {
  position: absolute;
  top: 110%;
  right: -110%;
  width: 50rem;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  background-color: #fff;
  border-radius: .5rem;
  -webkit-box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

.header .search-form input {
  height: 100%;
  width: 100%;
  padding: 0 1.5rem;
  font-size: 1.6rem;
  background: none;
  text-transform: none;
  color: #2c2c54;
}

.header .search-form label {
  font-size: 2.2rem;
  padding-right: 1.5rem;
  color: #2c2c54;
  cursor: pointer;
}

.header .search-form.active {
  right: 1rem;
}

.header .shopping-cart {
  position: absolute;
  top: 110%;
  right: -110%;
  background-color: #fff;
  width: 35rem;
  border-radius: .5rem;
  background-color: #fff;
  border-radius: .5rem;
  -webkit-box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  padding: 1rem;
}

.header .shopping-cart.active {
  right: 1rem;
}

.header .shopping-cart .shopping-cart-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  position: relative;
}

.header .shopping-cart .shopping-cart-box img {
  height: 10rem;
  width: 10rem;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0 1rem;
}

.header .shopping-cart .shopping-cart-box i {
  font-size: 2rem;
  position: absolute;
  top: 50%;
  right: 2rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #2c2c54;
  cursor: pointer;
}

.header .shopping-cart .shopping-cart-box i:hover {
  color: #ff9f1a;
}

.header .shopping-cart .shopping-cart-box .shopping-cart-add h3 {
  font-size: 1.7rem;
  color: #2c2c54;
  text-transform: capitalize;
}

.header .shopping-cart .shopping-cart-box .shopping-cart-add .price, .header .shopping-cart .shopping-cart-box .shopping-cart-add .quantity {
  font-size: 1.6rem;
  color: #666;
  padding: 1rem 0;
  padding: 0;
}

.header .shopping-cart .shopping-cart-total {
  font-size: 2.5rem;
  color: #2c2c54;
  text-transform: capitalize;
  padding: 1rem 0;
  text-align: center;
}

.header .shopping-cart .shopping-cart-btn {
  display: block;
  text-align: center;
  margin: 1rem;
}

.header .login-form {
  text-align: center;
  position: absolute;
  top: 110%;
  right: -110%;
  padding: 2rem;
  width: 35rem;
  background: #fff;
  -webkit-box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  border-radius: .5rem;
}

.header .login-form.active {
  right: 1rem;
}

.header .login-form h3 {
  font-size: 2.5rem;
  color: #2c2c54;
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
}

.header .login-form .login-form-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background: #f9f9f9;
  font-size: 1.7rem;
  padding: 1rem;
  border-radius: .5rem;
  margin: .7rem 0;
}

.header .login-form p {
  font-size: 1.6rem;
  color: #666;
  padding: 1rem 0;
  padding: .5rem 0;
  text-transform: capitalize;
}

.header .login-form p a {
  color: #ff9f1a;
  text-decoration: underline;
}

.home {
  padding: 0;
  position: relative;
}

.home .home-slide-container {
  display: none;
}

.home .home-slide-container.active {
  display: block;
}

.home .home-slide-container .slide {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 9%;
  padding-top: 9rem;
}

.home .home-slide-container .slide .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  -webkit-animation: slideContent  .5s linear 1s backwards;
          animation: slideContent  .5s linear 1s backwards;
}

.home .home-slide-container .slide .content span {
  font-size: 2rem;
  text-transform: capitalize;
  color: #ff9f1a;
}

.home .home-slide-container .slide .content h3 {
  font-size: 5rem;
  color: #2c2c54;
  text-transform: capitalize;
}

.home .home-slide-container .slide .content p {
  font-size: 1.7rem;
  color: #666;
  padding: 1rem 0;
}

@-webkit-keyframes slideContent {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
}

@keyframes slideContent {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
}

.home .home-slide-container .slide .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50rem;
          flex: 1 1 50rem;
  padding-bottom: 15rem;
  position: relative;
  z-index: 0;
}

.home .home-slide-container .slide .image .image-shoe {
  width: 100%;
  -webkit-transform: rotate(-35deg);
          transform: rotate(-35deg);
  -webkit-animation: imgShoe .3s linear;
          animation: imgShoe .3s linear;
}

@-webkit-keyframes imgShoe {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0deg) scale(0.5);
            transform: rotate(0deg) scale(0.5);
  }
}

@keyframes imgShoe {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0deg) scale(0.5);
            transform: rotate(0deg) scale(0.5);
  }
}

.home .home-slide-container .slide .image .image-text {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-animation: imgText .5s linear .5s backwards;
          animation: imgText .5s linear .5s backwards;
}

@-webkit-keyframes imgText {
  0% {
    opacity: 0;
    top: -10rem;
  }
}

@keyframes imgText {
  0% {
    opacity: 0;
    top: -10rem;
  }
}

.home #prev, .home #next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
  z-index: 100;
  height: 5rem;
  width: 5rem;
  line-height: 4.5rem;
  font-size: 2rem;
  color: #2c2c54;
  border: 0.2rem solid #2c2c54;
  cursor: pointer;
  text-align: center;
}

.home #prev:hover, .home #next:hover {
  background: #ff9f1a;
  color: #fff;
}

.home #prev {
  left: 5rem;
}

.home #next {
  right: 5rem;
}

.service .service-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
  padding: 2rem;
  text-align: center;
  background-color: #f9f9f9;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
}

.service .service-container .service-box i {
  color: #ff9f1a;
  font-size: 4rem;
}

.service .service-container .service-box h3 {
  font-size: 2rem;
  color: #2c2c54;
  text-transform: capitalize;
  padding-top: 1rem;
  font-weight: bolder;
}

.service .service-container .service-box p {
  font-size: 1.5rem;
  color: #666;
  padding: 1rem 0;
}

.products .product-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.5rem;
}

.products .product-container .product-box {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30rem;
          flex: 1 1 30rem;
  text-align: center;
  overflow: hidden;
  position: relative;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  background: #f9f9f9;
  border-radius: .5rem;
}

.products .product-container .product-box:hover .product-icons {
  left: 1rem;
}

.products .product-container .product-box:hover img {
  -webkit-transform: rotate(-35deg) scale(1.2);
          transform: rotate(-35deg) scale(1.2);
}

.products .product-container .product-box img {
  height: 10rem;
  -webkit-transform: rotate(-35deg);
          transform: rotate(-35deg);
  -webkit-filter: drop-shadow(0 0.5rem 1rem rgba(0, 0, 0, 0.1));
          filter: drop-shadow(0 0.5rem 1rem rgba(0, 0, 0, 0.1));
  margin: 8rem 2rem;
}

.products .product-container .product-box .product-box-content {
  padding: 1.5rem;
}

.products .product-container .product-box .product-box-content h3 {
  font-size: 2.5rem;
  color: #2c2c54;
  text-transform: capitalize;
  font-weight: bolder;
}

.products .product-container .product-box .product-box-content .price {
  font-size: 2.5rem;
  color: #2c2c54;
  font-weight: bolder;
  padding: 1rem 0;
}

.products .product-container .product-box .product-box-content .price span {
  color: #ff9f1a;
  font-size: 1.5rem;
  text-decoration: line-through;
}

.products .product-container .product-box .product-box-content .stars {
  font-size: 1.6rem;
  color: #ff9f1a;
}

.products .product-container .product-icons {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 0.5rem;
  left: -10rem;
}

.products .product-container .product-icons i {
  border: 0.2rem solid #2c2c54;
  margin-top: .5rem;
  height: 4.5rem;
  width: 5rem;
  line-height: 4.5rem;
  background: #fff;
  font-size: 1.8rem;
  color: #2c2c54;
  border-radius: .5rem;
}

.products .product-container .product-icons i:hover {
  background: #ff9f1a;
  color: #fff;
  cursor: pointer;
}

.feature .feature-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  border-radius: .5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1.5rem 0;
  padding: 2rem;
  gap: 1.5rem;
}

.feature .feature-container .feature-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50rem;
          flex: 1 1 50rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}

.feature .feature-container .feature-image .feature-image-small {
  width: 20%;
}

.feature .feature-container .feature-image .feature-image-small img {
  width: 100%;
  border: 0.1rem solid #2c2c54;
  padding: 1rem;
}

.feature .feature-container .feature-image .feature-image-small img:hover {
  background: #ccc;
  cursor: pointer;
}

.feature .feature-container .feature-image .feature-image-big {
  width: 80%;
  padding: 1rem;
}

.feature .feature-container .feature-image .feature-image-big img {
  width: 100%;
}

.feature .feature-container .feature-image .feature-image-big img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.feature .feature-container .feature-content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.feature .feature-container .feature-content h3 {
  font-size: 2.5rem;
  color: #2c2c54;
  text-transform: capitalize;
}

.feature .feature-container .feature-content .stars {
  font-size: 1.6rem;
  color: #ff9f1a;
}

.feature .feature-container .feature-content p {
  font-size: 1.5rem;
  color: #666;
  padding: 1rem 0;
}

.feature .feature-container .feature-content .price {
  font-size: 2.5rem;
  color: #2c2c54;
  font-weight: bolder;
  padding: 1rem 0;
}

.feature .feature-container .feature-content .price span {
  color: #ff9f1a;
  font-size: 1.5rem;
  text-decoration: line-through;
}

.review .review-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(40rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  gap: 2rem;
  text-align: center;
}

.review .review-container .review-container-box {
  padding: 2rem;
  border-radius: .5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.review .review-container .review-container-box img {
  height: 15rem;
  width: 15rem;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 1rem 0;
  border-radius: 50%;
}

.review .review-container .review-container-box h3 {
  font-size: 2.5rem;
  color: #2c2c54;
  text-transform: capitalize;
  font-weight: bolder;
}

.review .review-container .review-container-box p {
  font-size: 1.6rem;
  color: #666;
  padding: 1rem 0;
}

.review .review-container .review-container-box .stars {
  font-size: 1.6rem;
  color: #ff9f1a;
}

.newsletter {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.newsletter .newsletter-container {
  text-align: center;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: .5rem;
  padding: 2rem;
  background-color: #f9f9f9;
}

.newsletter .newsletter-container h3 {
  font-size: 2.5rem;
  color: #2c2c54;
  text-transform: capitalize;
  font-weight: bolder;
}

.newsletter .newsletter-container p {
  font-size: 1.5rem;
  color: #666;
  padding: 1rem 0;
  margin: 1rem auto;
  max-width: 60rem;
}

.newsletter .newsletter-container form {
  max-width: 50rem;
  margin: 1rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.newsletter .newsletter-container form .box {
  margin-top: 1rem;
  padding: 1rem;
  border: 0.2rem solid #2c2c54;
  width: 100%;
  font-size: 1.7rem;
  text-transform: none;
  border-right: none;
}

.newsletter .newsletter-container form .btn {
  border-radius: 0;
}

.footer .footer-container {
  background-color: #f9f9f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.5rem;
  border-radius: .5rem;
  padding: 2rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
}

.footer .footer-container .footer-container-box {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20rem;
          flex: 1 1 20rem;
}

.footer .footer-container .footer-container-box h3 {
  font-size: 2.5rem;
  color: #2c2c54;
  text-transform: capitalize;
  padding-bottom: 1.5rem;
}

.footer .footer-container .footer-container-box a {
  display: block;
  font-size: 1.6rem;
  color: #666;
  padding-bottom: 1.5rem;
  text-transform: capitalize;
}

.footer .footer-container .footer-container-box a:hover {
  color: #ff9f1a;
  padding-left: .5rem;
}

.footer .footer-container .copy-right {
  text-align: center;
  width: 100%;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
  font-size: 1.5rem;
  padding: 1rem;
  padding-top: 2rem;
  color: #999;
  text-transform: capitalize;
}

.footer .footer-container .copy-right span {
  color: #ff9f1a;
}

.footer .footer-container .copy-right span:hover {
  text-decoration: underline;
  cursor: pointer;
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  section {
    padding: 2rem;
  }
  .header {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  .header .search-form {
    width: 90%;
  }
  .header #menu-bar {
    display: inline-block;
  }
  .header .navbar {
    position: absolute;
    top: 100%;
    left: -120%;
    width: 100%;
    background: #f9f9f9;
    border-top: 0.2rem solid #2c2c54;
  }
  .header .navbar.active {
    left: 0;
  }
  .header .navbar a {
    background: #fff;
    border: 0.2rem solid #2c2c54;
    font-size: 2rem;
    border: 0.2rem solid #2c2c54;
    padding: 1.5rem;
    margin: 1.5rem;
    text-align: center;
    display: block;
  }
  .home .home-slide-container .slide .image .image-text {
    width: 60%;
  }
  .home #prev, .home #next {
    top: 85%;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .home-slide-container .slide .image {
    padding-bottom: 6rem;
  }
  .heading {
    font-size: 2.5rem;
  }
}
/*# sourceMappingURL=style.css.map */